.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-title {
  font-size: 24px; 
}

.instructions {
  font-size: 14px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add your table styles here */

.table-container {
  width: 70%; /* or any other percentage that suits your needs */
  margin: 0 auto; /* this will center your table on the page */
  overflow-x: auto;
  text-align: center;
}

table {
  width: 100%; /* this will make the table take up the full width of the .table-container div */
  border-collapse: collapse; /* this will make the table's borders collapse into a single border */
  margin-top: 20px;
  font-size: 14px;
}

th, td {
  border: 1px solid #ddd; /* this will add a border to your table cells */
  padding: 8px; /* this will add some padding inside your table cells */
}

th {
  background-color: #4CAF50; /* this will add a background color to your table headers */
  color: white; /* this will make the text color in your table headers white */
}
